* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background: peachpuff;
      }
      .main {
        width: 900px;
        height: 500px;
        border: 1px solid transparent;
        background: #fff;
        margin: 50px auto;
        box-shadow: 2px 2px 25px 5px rgb(182, 149, 121);
      }
      .main .box {
        width: 50%;
        height: 100%;
        border: 1px solid transparent;
        float: left;
        padding: 20px;
      }
      .main .box h1 {
        text-transform: capitalize;
        font-family: "Archivo", sans-serif;
        color: #008080;
        font-size: 45px;
        font-weight: 400;
      }
      .main .box p {
        color: #008080;
        font-family: "Archivo", sans-serif;
        font-weight: 500;
      }
      .main .box h4 {
        color: #008080;
        font-style: italic;
        font-weight: 400;
      }
      .main .box h2 {
        color: #008080;
        font-family: "Whisper", cursive;
        font-weight: 400;
        font-size: 40px;
      }
      .main .box:last-child {
        position: relative;
      }
      .main .img {
        width: 280px;
        height: 400px;
        border: 1px solid transparent;
        position: absolute;
      }
      .main .img:first-child {
        left: 30%;
      }
      .main .img:last-child {
        top: 10%;
      }
      img {
        width: 100%;
        height: 100%;
      }
      @media (max-width: 768px) {
        .main{
          width: 550px;
          height: 400px;
        }
        .main .box h1 {
          font-size: 25px;
        }
        .main .box h4 {
          font-size: 18px;
        }
        .main .box h2 {
          font-size: 25px;
        }
        .main .img {
          width: 200px;
          height: 300px;
        }
        .main .img:last-child {
          top: 15%;
          left: 0%;
        }
        .main .img:first-child {
          left: 20%;
        }
      }
      @media (max-width: 425px) {
        .main  {
          width: 90vw;
          height: 280px;
          margin: 50px auto;
        }
       
        .main .box h1 {
          font-size: 18px;
        }
        .main .box p {
          font-size: 12px;
        }
        .main .box h4 {
          font-size: 12px;
        }
        .main .box h2 {
          font-size: 14px;
        }
        .main .img {
          width: 120px;
          height: 180px;
        }
        .main .img:last-child {
          top: 20%;
          left: 0%;
        }
        .main .img:first-child {
          top: 10%;
          left: 25%;
        }
      }